{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<div class="container text-center" style="width:30rem">
  <br>
  {% if form.errors %}
<p><strong>Oh Snap! </strong> You've entered wrong username or password. Please note that all fields are case senstive. </h3>
{% endif %}
{% if user.is_authenticated %}
<h1 style="color:white">You're already logged in.</h1>
<br>
{% else %}
  <br>
  <h4>Login</h4>
  <hr>
  <form class="form-control" method="POST" style="border-color:transparent">
    {% csrf_token %}
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
      <label for="id_username" class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" id="id_username" placeholder="Username" required>
</div>
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="basic-addon1"> <i class="ion-key"></i> </span>
</div>
  <label for="id_username" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password" required>
</div>
      <button type="submit" class="btn">Sign in</button> <br> <hr>
  </form>
  {% endif %}
</div>

{% endblock %}
